<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="addnewbook/create" class="btn btn-primary new">
        Create a new Book
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= addnewbooks.length %> addnewbooks.
        <br>
      </p>
      </div>
      <% for (let i = addnewbooks.length-1; i >= 0; i--) {   
        addnewbook = addnewbooks[i];   %>


        <div class="card-deck">
            <div class="card"  style="width: 18em">
              <div class="card-body">
            <br> ID: <%=  addnewbook._id %>
            <br> Title: <%=addnewbook.title%>
            <br> Author: <%=addnewbook.author%>
            <br> ISBN: <%=addnewbook.isbn%>
            <br> Publisher: <%=addnewbook.publisher%>
            <br> Ratings: <%=addnewbook.ratings %>
            <br> Price: <%=addnewbook.price %>
            <br> Language: <%=addnewbook.language %>
            <br> Condition: <%=addnewbook.condition %>

          <hr>
          <a href="/addnewbook/delete/<%= addnewbook._id  %>" class="card-link" class="btn btn-danger"> Delete </a>
          <a href="/addnewbook/details/<%= addnewbook._id %>" class="card-link" class="btn btn-info"> Details </a>
          <a href="/addnewbook/edit/<%= addnewbook._id %>" class="card-link" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>
    </div>

  </div>
</div>